<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.store7app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="AppMarket"
        android:supportsRtl="true"
        android:theme="@style/Theme.Store7App">
        <activity
            android:name=".resetpassword"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Embutidos"
            android:exported="false" />
        <activity
            android:name=".Proteinas"
            android:exported="false" />
        <activity
            android:name=".Salsas"
            android:exported="false" />
        <activity
            android:name=".Cereales"
            android:exported="false" />
        <activity
            android:name=".Pruebas"
            android:exported="false" />
        <activity
            android:name=".Verduras"
            android:exported="false" />
        <activity
            android:name=".Frutas"
            android:exported="false" />
        <activity
            android:name=".terminosCondicionesActivity"
            android:exported="false" />
        <activity
            android:name=".MarkerActivity"
            android:exported="false" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>